@media screen and (min-width : 320px)
  #contact-us
    background : url(../img/contact-us.png) no-repeat;
    background-size : cover;
    padding : 74px 0 110px 0;
    h2
      margin-top : 21px;
    form
      margin-top : 51px;
    input, textarea
      color : white;
      width : 100%;
      border : 1px solid rgb(153, 153, 153);
      border-radius : 2px;
      outline : 0;
      background : transparent;
      margin-bottom : 20px;
    textarea
      padding : 26px 21px;
    input
      padding : 26px 21px;
      &.checkbox
        width : 17px;
        height : 17px;
    label
      vertical-align : top;
    .right-btn
      float : right;
    .left-btn
      display : inline-block;
      margin-top : 18px;
    button[type="submit"]
      color : white;
      font-family : 400 18px "Lato";
      padding : 17px 51px;
      border : 1px solid rgb(21, 164, 250);
      border-radius : 2px;
      &:hover
        background : rgb(21, 164, 250);