@media screen and (min-width : 320px)
  section#design
    background : #f6f9f9;
    padding : 81px 0 110px 0;

  .design-list
    background : #ffffff;
    padding : 65px 0 65px 0;
    .design-item
      padding : 0 35px;
      .design-img
        height : 100px;
        width : 100px;
        background : linear-gradient(to right, #48baff, #48baff 50%, #5fc3ff 50%, #5fc3ff);
        margin : auto;
        .fa
          text-shadow : 0.8px 0.6px 1px rgba(2, 2, 2, 0.4);
          color : white;
          font : 400 42px / 100px "FontAwesome";
      .design-header
        color : #2d3950;
        font : 400 22px "Lato";
        margin : 33px auto 26px;
      .design-desc
        color : #999999;
        font : 400 15px "Lato";