footer
  min-height : 90px;
  span
    color : rgb(153, 153, 153);
    font : 400 15px / 40px "Lato";
  .soc-img
    display : inline-block;
    width : 40px;
    height : 40px;
    background-color : rgb(21, 164, 250);
    border-radius : 2px;
    text-align : center;
    transition : background-color .25s;
    &:hover
      background-color : white;
    &:hover i.fa
      color : rgb(21, 164, 250);
    i.fa
      color : white;
      font : 400 15px / 40px "FontAwesome";
      transition : color .25s;
