@media screen and (min-width : 320px)
  header
    position : relative;
    height : 100vh;
    a.arrow-down
      position : absolute;
      bottom : 91px;
      left : calc(50% - 17.5px);
      i.fa
        color : white;
        font : 400 35px "FontAwesome";
    h1
      font : 700 30px "Lato";
      text-transform : uppercase;
      img
        margin-right : 16px;
      a
        color : rgb(45, 57, 80);
    .header-top
      background : #ffffff;
      min-height : 99px
      font : 700 30px / 20px "Lato";
    .header-main
      background : url("../img/header.png") no-repeat;
      background-size : cover;
      height : calc(100vh - 99px);
    h1.main
      display : inline-block;
      color : white;
      font : 700 120px "Lato";
      border-bottom : 2px solid #15a4fa;
      padding : 34px 92px;
    p.header-desc
      color : white;
      font : 400 20px "Lato";
      margin-top 40px;
    a.btn-action
      display : inline-block;
      color : white;
      font : 400 18px "Lato";
      border : 1px solid #15a4fa;
      border-radius : 2px;
      padding : 22px 36px;
      margin-top 64px;
      &:hover
        background : #15a4fa;