@media screen and (min-width : 320px) {
    section#design {
        background : #f6f9f9;
    }

    section#design h2 {
        color : #2d3950;
        font  : 400 40px "Lato";
    }

    section#design p.text {
        color : #999999;
        font  : 400 20px "Lato";
    }
}
