section#contact-us.row.expanded
    .column
        .row.align-center
            .small-12.column.text-center
                h2.white Stay with us
                p.header-desc.white We ensure quailty & support
            form.medium-6.column
                input.cont-input(placeholder="Full Name")
                input.cont-input(placeholder="Email Address")
                textarea.cont-input(placeholder="Message" rows="5")
                .form-bottom
                    span.left-btn
                        input#subs.checkbox(type="checkbox")
                        label.white(for="subs") Subscribe Newsletter
                    span.right-btn
                        button(type="submit") Send