section#design.row.expanded.text-center
    .row
        .small-12.column
            h2 Simple & pure design.
            p.text Designers everywhere gush with admiration upon seeing a web design and exclaim "its beautiful, it's so clean!". There are a countless number of webdesign round-ups dedicated to 'clean' design and it is a term thrown around quite a bit in the web design community. It can be easy to spot a good example of clean design.
.row.expanded.design-list.text-center
    .row
        .columns
            .design-item
                .design-img
                    i.fa.fa-mobile(aria-hidden="true")
                h3.design-header Optimized for all devices
                p.design-desc STRICT has been designed to be fully responsive on all devices
        .columns
            .design-item
                .design-img
                    i.fa.fa-paper-plane(aria-hidden="true")
                h3.design-header Clean & Minimal Design
                p.design-desc This multipurpose theme is especially created to be used for different projects.
        .columns
            .design-item
                .design-img
                    i.fa.fa-bullhorn(aria-hidden="true")
                h3.design-header Font Awesome Icon
                p.design-desc This multipurpose theme is especially created to be used for different projects.