header
    .row.header-top.align-middle
        .columns
            h1
                img(src="assets/img/logo.png" alt="logo")
                a(href="#") Strict
    .row.expanded.align-middle.text-center.header-main
        .column
            h1.main STRICT
            p.header-desc STRICT is a responsive theme with a a clean and minimal look.
            a.btn-action(href="#") Call to action
    a.arrow-down.scroll(href="#design")
        i.fa.fa-chevron-down(aria-hidden="true")