head
    title Strict Site
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='assets/css/font-awesome.min.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(href='assets/css/main.css' rel='stylesheet')
    link(href='assets/foundation/css/foundation.min.css' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    link(rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen")
    link(rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen")
    link(rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen")