section#showcase.row.expanded
    .row
        .small-12.column.text-center
            h2 Showcase your work like a pro.
            p.header-desc Contact me if you like my work
.row.expanded.showcase-list
    .row
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/1_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/1_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/1.png" alt="showcase-1")
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/2_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/2_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/2.png" alt="showcase-2")
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/3_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/3_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/3.png" alt="showcase-3")
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/4_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/4_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/4.png" alt="showcase-4")
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/5_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/5_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/5.png" alt="showcase-5")
        .medium-4.columns
            .showcase-item
                .overlay.row.align-middle
                    .columns
                        a.fancybox.btn-zoom(href="assets/img/showcase/6_2.png" rel="group")
                            i.fa.fa-search-plus(aria-hidden="true")
                        a.img-link(href="assets/img/showcase/6_2.png" target="_blank")
                            i.fa.fa-link(aria-hidden="true")
                img(src="assets/img/showcase/6.png" alt="showcase-6")